---
import { Icon } from 'astro-icon'
import { Image } from "astro:assets"

const { src = '/astronaut-hero-img.webp' } = Astro.props

import linkedinIcon from "../assets/img/icons/linkedin.svg"
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot><span class="text-gradient">Houston</span> Robotics Group</slot>
        </h1>
        <p class="text-center text-2xl md:text-left lg:text-4xl">
          <slot>Virtual & In-person Meetings every Saturday</slot>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="https://www.meetup.com/houstonroboticsgroup/events/">
            <Icon pack="ion" name="calendar-outline" />
            Event Calendar
          </a>
          <a class="button has-icon color-secondary" href="https://www.linkedin.com/company/houston-robotics-group/">
            <Image src={linkedinIcon} alt="LinkedIn Logo" width="30" height="30" />
            LinkedIn
          </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
